- name: set prompt
  ansible.builtin.shell: set-prompt artifactory

- name: Download artifactory
  ansible.builtin.unarchive:
    src: https://releases.jfrog.io/artifactory/artifactory-rpms/artifactory-rpms.repo
    dest: /etc/yum.repos.d/jfrog-artifactory-rpms.repo
    remote_src: yes
      
